<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]-->
<![if IE 9 ]>
<html data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl">
<![endif]>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Soluções</title>

    <!-- Vendor CSS -->



    <!-- CSS -->


    <style type="text/css">
        @page {
            margin: 0;
        }
        
        .quebrarLinha {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        h4,
        span {
            line-height: 20px;
            color: #000000;
        }
        
        .primeiroTexto {
            width: 90px;
        }
    </style>

</head>

<body id="principal" ng-app="app" ng-controller="imprimir_pedido" style="background-image: none; width: 400px; font-size: 18px;">
    <div style="margin-left: 10px;">
        <h4 style="text-align: center;">{{pedido.empresa}}</h4>
        <div class="primeiroTexto" style="width: 90px; display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Data:</strong>
      </span>
        </div>
        <div style="display: inline-block;">
            <span style=" color: #000000;">{{retornaData(pedido.data_pedido) | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <br>
        <div ng-show="pedido.data_agendamento && pedido.data_agendamento != '0000-00-00 00:00:00'">
            <div class="primeiroTexto" style="width: 90px; display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;">
          <strong>Agend:</strong>
        </span>
            </div>
            <div style="display: inline-block;">
                <span style=" color: #000000;">{{retornaData(pedido.data_agendamento) | date:'dd/MM/yyyy HH:mm'}}</span>
            </div>
            <br>
        </div>
        <div class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Pedido:</strong>
      </span>
        </div>
        <div style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.id}} - {{pedido.nome}}</span>
        </div>
        <br ng-show="pedido.nome_mesa">
        <div ng-show="pedido.nome_mesa" class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Mesa:</strong>
      </span>
        </div>
        <div ng-show="pedido.nome_mesa" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.nome_mesa}}</span>
        </div>
        <br ng-show="pedido.nome_mesa2">
        <div ng-show="pedido.nome_mesa2" class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Comanda:</strong>
      </span>
        </div>
        <div ng-show="pedido.nome_mesa2" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.nome_mesa2}}</span>
        </div>
        <br>
        <div>
            <div ng-show="pedido.retira_local != 1 && pedido.endereco" class="primeiroTexto" style="display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;">
          <strong>Endereço:</strong>
        </span>
            </div>
            <div ng-show="pedido.retira_local != 1 && pedido.endereco" style="display: inline-block;">
                <span style=" color: #000000;">{{pedido.endereco}}, {{pedido.numero}},
          <span ng-if="pedido.complemento != undefined">{{pedido.complemento}},</span> {{pedido.bairro}}, {{pedido.cidade}}/{{pedido.estado}}
                </span>
            </div>
            <div ng-show="pedido.retira_local == 1" style="display: inline-block;">
                <span style=" color: #000000;">PEDIDO PARA RETIRA NO LOCAL</span>
            </div>
            <br>

            <div ng-show="pedido.retira_local != 1 && pedido.referencia" class="primeiroTexto" style="display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;">
          <strong>Referência:</strong>
        </span>
            </div>
            <div ng-show="pedido.retira_local != 1 && pedido.referencia" style="display: inline-block;">
                <span style=" color: #000000;">{{pedido.referencia}}</span>
            </div>
            <br ng-show="pedido.retira_local != 1 && pedido.referencia">
            <div ng-show="pedido.telefone" class="primeiroTexto" style="display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;">
          <strong>Telefone:</strong>
        </span>
            </div>
            <div ng-show="pedido.telefone" style="display: inline-block;">
                <span style=" color: #000000;">{{pedido.telefone}}</span>
            </div>
            <br ng-show="pedido.telefone">
        </div>
        <div ng-repeat="row in pedido.formas">
            <div class="primeiroTexto" style="display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;">
          <strong>Pagamento:</strong>
        </span>
            </div>
            <div style="display: inline-block;">
                <span style=" color: #000000;">{{row.forma_pagamento}}</span>
            </div>
            <div style="display: inline-block;">
                <span style=" color: #000000;">{{row.valor | currency:'R$ '}}</span>
            </div>
            <br ng-show="row.forma_pagamento.toLowerCase() == 'dinheiro'">
            <div ng-show="row.forma_pagamento.toLowerCase() == 'dinheiro'" class="primeiroTexto" style="display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;">
          <strong>Troco:</strong>
        </span>
            </div>
            <div ng-show="row.troco && row.troco != 0 && row.forma_pagamento.toLowerCase() == 'dinheiro'" style="display: inline-block;">
                <span style=" color: #000000;">{{row.troco | currency:'R$ '}}</span>
            </div>
            <div ng-show="row.troco == 0 && row.forma_pagamento.toLowerCase() == 'dinheiro'" style="display: inline-block;">
                <span style=" color: #000000;">SEM TROCO</span>
            </div>
        </div>
        <br>
        <div ng-show="pedido.taxa_entrega" class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Entrega:</strong>
      </span>
        </div>
        <div ng-show="pedido.taxa_entrega" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.taxa_entrega | currency:'R$ '}}</span>
        </div>
        <br ng-show="pedido.nome_mesa == undefined || pedido.nome_mesa == ''">
        <div ng-show="pedido.desconto > 0" class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Desconto:</strong>
      </span>
        </div>
        <div ng-show="pedido.desconto > 0" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.desconto | currency:'R$ '}}</span>
        </div>
        <br ng-show="pedido.desconto > 0">
        <div class="primeiroTexto" style=" display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Vl Total:</strong>
      </span>
        </div>
        <div style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.valor_total - pedido.desconto | currency:'R$ '}}</span>
        </div>
        <br>
        <div ng-show="pedido.cupom_fidelidade" class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
        <strong>Cupom:</strong>
      </span>
        </div>
        <div ng-show="pedido.cupom_fidelidade" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.cupom_fidelidade}}</span>
        </div>
        <br ng-show="pedido.desconto > 0">

        <div ng-show="pedido.observacao != ''" class="primeiroTexto" style="display: inline-block;">
            <span style=" color: #000000; text-decoration: bold; font-style: italic;">
        <strong>OBS:</strong>
      </span>
        </div>
        <div ng-show="pedido.observacao != ''" style="display: inline-block;">
            <span style=" color: #000000; font-style: italic;"><strong>{{pedido.observacao}}</strong></span>
        </div>

        <br ng-show="pedido.observacao != ''">
        <p style="text-align: center;">---------------------------------------------------</p>

        <div>
            <div style="width: 40px; display: inline-block;">
                <span style=" color: #000000; ">Qde:</span>
            </div>
            <div style="width: 220px; display: inline-block;">
                <span style=" color: #000000; ">Produto</span>
            </div>

            <div style="width: 90px; display: inline-block;">
                <span style="color: #000000; float: right;">Total</span>
            </div>


        </div>

        <div ng-repeat="row in pedido.produtos">
            <div class="">
                <div style="width: 270px; display: inline-block;">
                    <span style=" color: #000000;"><strong><span style="margin-right: 30px;">{{row.quantidade}}</span> {{row.nome}}
                    </strong>
                    </span>
                </div>
                <div style="width: 90px; display: inline-block;">
                    <span style="color: #000000; float: right; margin-right: 10px;"><strong>{{row.valor_total | currency:'R$
              '}}</strong>
          </span>
                </div>
            </div>

            <div ng-repeat="row2 in row.adicional" class="col-xs-13">
                <div style="width: 100%;">
                    <span style=" color: #000000; "><span style="margin-right: 30px;">{{row2.quantidade}}</span> {{row2.descricao}}
                    </span>
                    <span *ngIf="row2.valor != '0'" style="color: #000000; float: right; margin-right: 10px;">{{row2.valor |
            currency:'R$ '}}
          </span>





                </div>


            </div>
            <div ng-show="row.observacao_produto != ''" style="width: 130px; display: inline-block;">
                <span style=" color: #000000; text-decoration: bold;  font-style: italic;">
          <strong>OBS:</strong>
        </span>
            </div>
            <div ng-show="row.observacao_produto != ''" style="display: inline-block;">
                <span style=" color: #000000;  font-style: italic;"><strong>OBS {{row.observacao_produto}}</strong></span>
            </div>

            <p style="text-align: center;">---------------------------------------------------</p>
        </div>
        <div class="primeiroTexto" style=" display: inline-block;">
            <span style=" color: #000000; text-decoration: bold; font-size: 22px;">
        <strong>Vl Total:</strong>
      </span>
        </div>
        <div style="display: inline-block;">
            <span style=" color: #000000; font-size: 22px;"><strong>{{pedido.valor_total - pedido.desconto | currency:'R$
          '}}</strong></span>
        </div>
        <br>

    </div>










    <!-- Angular -->
    <script src="../js/angular.min.js"></script>
    <script src="../controller/imprimir_pedido.js"></script>

</body>

</html>