<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]-->
<![if IE 9 ]>
<html data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl">
<![endif]>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Soluções</title>

    <!-- Vendor CSS -->



    <!-- CSS -->


    <style type="text/css">
    @page {
    margin: 0;
}
        h4,
        span {
            line-height: 20px;
            color: #000000;
            font-size: 18px;
        }

        .primeiroTexto{
            width: 90px;
        }
    </style>

</head>

<body id="principal" ng-app="app" ng-controller="imprimir_pedido" style="background-image: none; width: 400px;">
    <div style="margin-left: 10px;">
        <h4 style="text-align: center;">Cupom de Produção</h4>
        <div class="primeiroTexto" style=" display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
                <strong>Data:</strong>
            </span>
        </div>
        <div style="display: inline-block;">
            <span style=" color: #000000;">{{retornaData(pedido.data_pedido) | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <br>
        <div class="primeiroTexto" style=" display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
                <strong>Pedido:</strong>
            </span>
        </div>
        <div ng-show="pedido.nome_mesa == undefined || pedido.nome_mesa == ''" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.id}} - {{pedido.nome}}</span>
        </div>
        <div ng-show="pedido.nome_mesa != undefined && pedido.nome_mesa != ''" style="display: inline-block;">
                <span style=" color: #000000;">{{pedido.id}} - {{pedido.nome_mesa}}</span>
            </div>
        <br>
        <div ng-show="pedido.observacao != ''" class="primeiroTexto" style=" display: inline-block;">
            <span style=" color: #000000; text-decoration: bold;">
                <strong>Observação:</strong>
            </span>
        </div>
        <div ng-show="pedido.observacao != ''" style="display: inline-block;">
            <span style=" color: #000000;">{{pedido.observacao}}</span>
        </div>
        <br ng-show="pedido.observacao != ''">
        <span>----------------------------------------------</span>

        <div>
            <div style="width: 50px; display: inline-block;">
                <span style=" color: #000000; ">Qde:</span>
            </div>
            <div style="width: 220px; display: inline-block;">
                <span style=" color: #000000;">Produto</span>
            </div>

            <div style="width: 90px; display: inline-block;">
                <span style="color: #000000; ">Total</span>
            </div>


        </div>

        <div ng-repeat="row in pedido.produtos">
            <div>
                <div style="width: 50px; display: inline-block;">
                    <span style=" color: #000000; "><strong>{{row.quantidade}}</strong></span>
                </div>
                <div style="width: 220px; display: inline-block;">
                    <span style=" color: #000000;"><strong>{{row.nome}}</strong></span>
                </div>

                <div style="width: 100px; display: inline-block;">
                    <span style="color: #000000; "><strong>{{row.valor | currency:'R$ '}}</strong></span>
                </div>


            </div>

            <div ng-repeat="row2 in row.adicional" class="col-xs-13">
                <div>
                    <div  style="width: 50px; display: inline-block;">
                        <span ng-show="row2.quantidade > 1" style=" color: #000000; ">{{row2.quantidade}}</span>
                    </div>
                    <div style="width: 220px; display: inline-block;">
                        <span style=" color: #000000;">{{row2.descricao}}</span>
                    </div>




                </div>


            </div>
            <div ng-show="row.observacao_produto != ''" style="width: 130px; display: inline-block;">
                    <span style=" color: #000000; text-decoration: bold;">
                        <strong>Observação:</strong>
                    </span>
                </div>
                <div ng-show="row.observacao_produto != ''" style="display: inline-block;">
                    <span style=" color: #000000;">{{row.observacao_produto}}</span>
                </div>

                <p style="text-align: center;">---------------------------------------------------</p>
        </div>

        <br>

    </div>










    <!-- Angular -->
    <script src="../js/angular.min.js"></script>
    <script src="../controller/imprimir_pedido.js"></script>

</body>

</html>
